.container
    width 100%
    height 100%
    background #fff
    .head
        width 622px
        margin 0 auto
        display flex
        justify-content space-between
        height 64px
        line-height 64px
        select 
            border-color: rgb( 169, 192, 223 );
            border-radius: 3px;
            background-color: rgb( 234, 243, 255 );
            margin-right 5px
            color #6d6e6e
            font-size 14px
            padding-left 5px
        .back
            font-size 13px
            margin-right 30px
            img
                vertical-align middle
                cursor pointer
            span 
                cursor pointer
    .dutyInfo
        width 688px
        height 800px
        margin 0 auto
        border 1px solid #000
