.container
    width 100%
    height 100% 
    .center_wrap
        width 1560px
        margin 30px auto 0
        display flex
        justify-content: space-between
        .search
            width 735px
            height 785px
            border 1px solid #a5c1d7
            border-radius: 10px
            background-color #fff
            background-image: url('./imgs/top.jpg'),url('./imgs/bottom.jpg')
            background-position: top,bottom
            background-repeat: no-repeat
            .search_title
                text-align: center
                height 50px
                line-height 50px
                font-size: 18px;
                font-family: "FZZHJW";
                color: rgb( 40, 63, 138 )
            .img_wrap
                display inline-block
                height 50px
                img 
                    vertical-align: middle
            .pro_name
                display block

            &>div
                width 90%
                margin 0 auto
                border-bottom: 1px solid #f4f4f4
                &:last-of-type
                    border-bottom: 0px

            .search_date
                &>div
                    display inline-block
                    :global(input)
                        width 125px
                        height 25px
                        margin-left 10px
                    &.begin_date,&.end_date
                        color #3f598a
                        margin-left 15px
            .search_product
                overflow hidden
                padding-bottom 15px

                .checkbox
                    float left
                .timeliness
                    float left
                    position relative
                    margin-top -30px
                    margin-left 8px
                    padding-top 5px
                    width 410px
                    height 54px
                    border 1px solid #d3e0ef
                    border-radius 10px
                    background #e1eefc
                    display flex
                 
                    .triangle
                        position absolute
                        top: 28px
                        left -8px
                        width 15px
                        height 15px
                        background #e1eefc
                        border-bottom 1px solid #d3e0ef
                        border-left 1px solid #d3e0ef
                        transform: rotate(45deg)
                    
                    span
                        color #6d6d6d
                        font-size 12px
                        margin-bottom 6px
                        margin 0 20px

                    :global(.ant-radio-group .ant-radio-wrapper)
                        color #9299a1
                        width 70px
            .search_area
                display: flex
                margin-top 10px
                #map
                    margin-left 20px
                    width 588px
                    height: 435px
            .search_btn
                display block
                width 100px
                height 30px
                text-align center
                margin 15px auto
                line-height: 30px
                color #fff
                border-radius 20px
                background linear-gradient(to bottom,#62b0fa 10%,#3691ec)
                cursor pointer
        .result
            width 818px
            height 785px
            padding 0 20px
            border 1px solid #a5c1d7
            border-radius: 10px
            background #fff
            .result_title
                text-align: center
                height 50px
                line-height: 50px
                color #2d3695
                font-size 18px
                margin-bottom: 0
            .table_wrap
                border 1px solid #c6cce4
                :global(td)
                    border-right 1px solid #c4cee7
                    color #41588a

                :global(th)
                    background linear-gradient(#d1e2ff,#d1e2fe)
                    border-right 1px solid #acccff
                    color #41588a
            .imgWrap
                width 198px
                height 155px
                margin 20px auto